<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437464503053-seke5ocbpscma06hn0jgggfmeuajg7pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437464503053-seke5ocbpscma06hn0jgggfmeuajg7pu</string>
	<key>API_KEY</key>
	<string>AIzaSyC0SkhsFnGFXct-In_qowbNZJJFLhx7zqg</string>
	<key>GCM_SENDER_ID</key>
	<string>437464503053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paperlessNewversion</string>
	<key>PROJECT_ID</key>
	<string>sf333-249cf</string>
	<key>STORAGE_BUCKET</key>
	<string>sf333-249cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437464503053:ios:8d15a336cd2219397a5644</string>
</dict>
</plist>